body {
  margin: 0px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  cursor: default;
}

main {
  margin: auto;
  width: 70%;
}

header {
  background-color: #eacc5d;
  color: #003366;
  padding: 0px 0px 10px 0px;
  user-select: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  width: 70%;
  padding: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: #065535;
}

h4 {
  font-size: 13px;
  width: 70%;
  margin: auto;
}

.formulario{
  border: 1px solid #52b7bd;
  border-radius: 5px;
	padding: 10px;
  background-color: #d3ffce;
}

table{
	width: 100%;
	margin-bottom : .5em;
  table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
    font-size: 14px;
}

th{
	font-weight: bold;
	background-color: #d3ffce;
}

input {
  border-radius: 5px;
  height: 25px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 2px 2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:active{
  border: 1px solid;
  border-color: black;
  background-color: #4caf4f8e;
  color: black;
}
form{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.reprovado{
	color:#ffffff;
	font-weight:bold;
	background-color: #ff0000;
  user-select: none;
}

.aprovado{
	color: #fff;
	font-weight:bold;
	background-color: #0059ff;
  user-select: none;
}


